*{margin: 0;
 padding: 0; 
box-sizing: border-box; 
font-family: 'Montserrat', sans-serif;
}
    
body{
    background-image: linear-gradient(rgba(0,0,0, 0) 0%,rgba(0,0,0,1.5) 100%), url(../The-Daily-Star/images/obama.jpg);
    background-repeat: no-repeat;
    background-size: 1640px 1100px;
}
.navbar{
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);

} 
.nav{
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-align: justify;
    align-content: space-around;
    color: #fff; 
}

.menu{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.search button{
  color: #fff;
  padding: 2.5px;
  margin-right: 5px;
  background: none;
  font-size: 15px;
  border: none;
  cursor: pointer;
  margin-left: 5px;

}
.search input{
    background: none;
    border: none;
}

main{
    width: 73%; margin: 50px auto; 
    display: grid; color: white;
    grid-template-rows: 10px 340px 170px 70px;
    grid-template-columns: repeat(3, 1fr) 300px;
    grid-gap: 20px;
     
}

.div1{
    grid-column: 1/ 4;
}

.banner{
    grid-column: 1/ 4;
}

.box1{ 
    margin-left: 25px;
    size: 5px;
    padding: 1px;
}

.box2{ 
    margin-left: 25px;
    size: 5px;
    padding: 1px;
}
     
.box3{ 
    margin-left: 25px;
    size: 5px;
    padding: 1px;
}

.text p{
    margin-top: 10px;
}

.sidebar{  
    grid-row:1/5;
    grid-column: 4/5;
	width: 100%;
	font-size: 18px;
	background:rgba(128,128,128,0.18);
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    
	color: #fff;
}


     
.ad{ 
    background-image: url(../The-Daily-Star/images/advt.jpg);
    margin-left: 24px;
    grid-column: 1/ 4;
}

.ad_para{
    text-align: center;
    font-weight: bold;
}

.ad_para h4{
    font-family: 'Bauhaus 93';
    font-size: 30px;
    font-weight: bold;
}



.head{
    margin-left: 10px;
    text-align: left;
    padding: 10px;
   

} 

.head p{
    size: 1px;
    color: #FFA500;
    

}   

.stories{
    display: flex;
    flex-direction: row;
}

.container{
    margin-top: 30px;
    
}
.news{
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    

}

.news p{
    padding: 10px;
}

.wnews{
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: row;
    font-size: 11px;
}

.wnews p{
    padding: 10px;
}

.must_read{
    background-color: black;
    
     
}

.must_read h4{
    margin-bottom: 50px;
    color: #fff;
    margin-left: 195px;
    margin-top: 100px;
    padding: 30px 0 0 30px;
}

.stories{
    margin-left: 195px;
    padding-left: 30px;
}

.midimg{
    padding-left: 30px;
    padding-right: 30px;
}
.midimg img{
   border: 15px solid #fff;
}
.midimg p{
    background-color: #fff;
    color: black;
    padding: 5px 20px;
    text-align: justify;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.s_container{
    margin-left: 10px;
}

.section{
    display: flex;
    flex-direction: row;
    
}

.section p{
    padding: 3px 20px;
}

.popular{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.content2{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}